html{
    font-family: 'Roboto', sans-serif;
}

body {
 margin: 0 20rem 0 20rem;
}

#headerComponents {
  text-align: center;
}

.bookTitle {
    font-size: larger;
    font-weight: bold;
}

.bookAuthor, .bookTitle, .numPages {
    text-align: center;
}

.numberStyle {
    font-weight: bolder;
}

.bookAuthor {
    margin-bottom: 2rem;
}

.readBtn {
    border-radius: 10px;
}

.readBtn, .deleteBookBtn {
    outline: none;
    border: none;
    margin: 1rem;
    height: 35px;
    width: auto;
}

.deleteBookBtn {
  border-bottom: solid 2px;
}

.deleteBookBtn:hover {
    background-color: red;
    border-radius: 10px;
}

.bookContainer {
  background-color: #F3F3F4;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
}

#renderLibrary {
    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
​ button {
  margin: 5px;
}

button:active,
button:focus,
.submitBtn:active {
  outline: none;
}

.trigger {
    margin: 10px 0px 20px 0px;
}

.trigger,
.submitBtn {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  font-size: large;
  background-color: #5c9eff;
  color: white;
}

.trigger:hover,
.submitBtn:hover {
  cursor: pointer;
  background-color: limegreen;
}

/** Modal Styles **/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 0px;
}

.modalContent {
  background-color: white;
  width: 80%;
  max-width: 640px;
  margin: 3rem auto;
  border-radius: 4px;
  padding: 4rem 2rem;
  position: relative;
  animation: 0.5s slideDown;
}

/** custom animation **/
@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.open {
  display: block;
}

.modalTitle {
  text-align: center;
  font-family: sans-serif;
  border-radius: 35px;
}

.close {
  position: absolute;
  color: #ddd7ce;
  top: 0px;
  left: 10px;
  font-size: 4rem;
  background: transparent;
  border: 0;
  outline: 0;
}

.close:hover {
  cursor: pointer;
}

.modalBody {
  padding: 2rem;
  font-family: sans-serif;
  line-height: 2rem;
}

.author, .title, .pages {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

input {
    font-size: large;
    margin-bottom: 30px;
    border: solid 2px lightslategray;
    outline: none;
}

input:focus {
    border: solid 3px #5c9eff;
}

.submitBtn {
    float: right;
    width: 5em;  
    height: 3em;
    font-weight: bold;
}

label, .readQuestion {
    font-size: larger;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
