.bookDetail {
    color: red;
}

.deleteBookBtn {
    background-color: blue;
}

.bookContainer {
    border: solid 2px;
    border-color: saddlebrown;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
}

#renderLibrary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    text-align: left;
    display: flex;
    justify-content: center;
}